*,
*::before,
*::after {
  font-family: "League Spartan", sans-serif;
}
a {
  text-decoration: none;
}
img {
    max-width: 100%;
    display: inline-block;
  }
:root {
  --font-main: "League Spartan", sans-serif;
  --color-text-first: #161515;
  --color-text-second: #000;
  --color-text-third: #272727;
  --font-size-main: 32px;
  --font-size-add: 24px; 
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #c4c4c4;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1430px;
  background: #fff;
  width: 100%;
}
.main-container {
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 104px 130px 210px 130px;
  gap: 50px;
}
.main-info {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.main__brand {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-add);
  font-weight: 300;
  line-height: 186%;
  margin-bottom: 53px;
}
.main__title {
  color: var(--color-text-third);
  font-family: var(--font-main);
  font-size: 250px;
  font-weight: 300;
  max-width: 600px;
  margin-bottom: 43px;
}
.main__text {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 300;
  line-height: 155%;
  max-width: 575px;
  margin-bottom: 61px;
}
.main-buy {
  display: flex;
}
.main__btn {
  color: #fff;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 300;
  background: #161515;
  display: flex;
  align-items: center;
  padding: 30px 75px;
}
.main__price {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 300;
  background: #fff;
  box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
  padding: 30px 30px;
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__title {
  color: var(--color-text-second);
  font-family: var(--font-main);
  font-size: var(--font-size-add);
  font-weight: 300;
  line-height: 186%;
}
.product__title2 {
  color: var(--color-text-second);
  font-family: var(--font-main);
  font-size: 72px;
  font-weight: 400;
  line-height: 112.5%;
  margin-bottom: 84px;
}
.product-info {
}
.product-info__col {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product-info__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 65px;
  max-width: 420px;
  background: #f8f8f8;
  margin-bottom: 67px;
}
.product-info__title {
  color: var(--color-text-second);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 400;
  text-align: center;
  margin-bottom: 17px;
}
.product-info__text {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 300;
  line-height: 155%;
  max-width: 530px;
  text-align: center;
  margin-bottom: 85px;
}
.product-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-desc__title {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-weight: 400;
  line-height: 186%;
  text-align: center;
  margin-bottom: 58px;
  position: relative;
}
.product-desc__title::before {
    content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    width: 100%;
    opacity: 50%;
    height: 1px;
    background: #000;
}
.product-desc__text {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: var(--font-size-add);
  font-weight: 300;
  line-height: 170%;
  max-width: 515px;
  text-align: center;
  margin-bottom: 142px;
}
.product-desc__link {
  color: #bb8b5d;
  font-family: var(--font-main);
  font-size: var(--font-size-add);
  font-weight: 500;
  line-height: 170%;
  text-decoration-line: underline;
}
